@import "variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  line-height: 180%;
}

.container {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
}

.visually-hidden {
  font-size: 0;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  margin: 0 auto;
  margin-top: 20px;
  .header-container {
    //max-width: 470px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }
  .header_image {
    margin: 0 auto;
  }
  img {
    border-radius: 100%;
  }
  .header_text {
    margin: 1em auto;
  }
}

main section {
  margin-top: 30px;
}

.contact-info {
  .contact-info__description {
    margin-bottom: 1em;
  }
}

.contacts-list {
  li {
    all: unset;
  }
  .contacts-list__link {
    text-decoration: none;
    color: inherit;
  }

  .contacts-list__el {
    border-radius: 1em;
    padding: 0.5em 2.5em;
    display: inline-block;
    padding-right: 1.5em;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
  }

  .contacts-list__el:hover {
    -webkit-transform: translateY(-0.5em);
    transform: scale(1.1);
  }
  .contacts-list__el_discord {
    background: url("/src/assets/img/svg/Discord-Logo-White.svg") no-repeat 0.5em center / 1.5em 1.5em;

    background-color: #5865f2;
    color: #ffffff;
  }
  .contacts-list__el_github {
    background: url("/src/assets/img/svg/github-logo.svg") no-repeat 0.5em center / 1.5em 1.5em;
    background-color: #6e5494;
    color: #ffffff;
  }
  .contacts-list__el_telegram {
    background: url("/src/assets/img/svg/Telegram_logo.svg") no-repeat 0.5em center / 1.5em 1.5em;
    background-color: #0088cc;
    color: #ffffff;
  }
}

.skills {
  .skills-list {
    .skills-list__hard-skills-title {
    }
    li {
      padding-bottom: 1em;
    }

    span {
      display: inline-block;
      border-radius: 1em;
      padding: 0.25em 1em;
      background-color: #006eff;
      color: #ffffff;
      line-height: 1em;
    }
    .skills-list__soft-skills-title {
    }
    .skills-list__soft-skills {

    }
  }
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

section h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  margin-top: 50px;
  background-color: #484848;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.github {
  display: block;
  /* width: 120px; */
  height: 45px;
  padding-left: 45px;
  background-image: url("/src/assets/img/svg/github-logo.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  margin-left: 15px;
}
.github:hover {
  color: #fff;
}
.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 115px;
  height: 32px;
  background-image: url("/src/assets/img/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 15px;
}
.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*< rs school classes  */